# Core ML (CPU only)
torch
torchvision
torchaudio
numpy

# Hugging Face
diffusers
accelerate
safetensors
transformers
tokenizers
huggingface-hub

# Interface
gradio

# Image / Notebook utilities
opencv-contrib-python
notebook
ipykernel
ipywidgets
matplotlib
pillow
